@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

html {
  font-family: 'Varela Round', sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #3d434b;
}

.App {
  width: 100%;
  max-width: 70em;
  margin: 0 auto;
}